In [1]:
import pandas as pd
import os
import sys

In [2]:
def add_project_root_to_sys_path(target_file="config.py"):
    current_path = os.getcwd()
    while True:
        if target_file in os.listdir(current_path):
            # 找到包含 config.py 的目录，加入 sys.path
            if current_path not in sys.path:
                sys.path.append(current_path)
            break
        else:
            # 向上一级目录查找
            parent_path = os.path.dirname(current_path)
            if parent_path == current_path:
                # 到达根目录还没找到，停止
                raise FileNotFoundError(f"未找到包含 {target_file} 的目录")
            current_path = parent_path

add_project_root_to_sys_path()

In [3]:
from config import breast_data_path

In [4]:
df = pd.read_csv(breast_data_path, index_col=0)
print(df.shape)
df.head()

(296, 34950)

,Class,3xSLv1,A1BG,A1CF,A2BP1,A2LD1,A2M,A2ML1,A4GALT,A4GNT,...,tcag7.1213,tcag7.1227,tcag7.1231,tcag7.1239,tcag7.1307,tcag7.873,tcag7.893,tcag7.907,tcag7.929,tcag7.967
GSM1823702,"""normal""",4.859722,535.5167,5.940460,5.685579,227.1913,46960.871,4.702429,4558.7640,3.904452,...,4.742049,77.00769,11.876750,5.323616,3.944951,785.1401,3.993938,680.089880,18.29971,4.068957
GSM1823703,"""normal""",12.525190,3634.7940,38.023283,44.408785,1052.6500,156432.520,78.048350,5997.5070,39.178900,...,14.290600,203.44990,30.602930,13.409350,11.023760,1420.9130,34.061760,960.099533,10.69652,22.900090
GSM1823704,"""normal""",7.037224,886.0996,42.813183,14.550340,578.2714,84857.218,30.520820,7849.2175,8.567911,...,26.760020,181.58060,35.656970,32.158410,7.739424,1120.7720,17.378000,1025.388667,59.07267,16.509710
GSM1823705,"""normal""",3.741905,365.2933,3.697340,4.955665,354.3489,39616.956,3.332520,2611.2865,5.401225,...,3.832760,90.68363,8.613266,25.701110,9.710713,1627.9210,3.784242,648.263370,34.03004,3.078217
GSM1823706,"""normal""",5.362853,896.8543,6.245011,4.173715,310.1026,40687.011,3.996803,3422.1065,3.836926,...,13.636010,137.99170,18.222570,16.796520,3.679105,2003.5570,4.006230,1322.833043,37.49563,3.795162

In [5]:
print("数据类型：\n", df.dtypes[:5])
print("是否有缺失值：", df.isna().sum().sum())

数据类型：
 Class      object
3xSLv1    float64
A1BG      float64
A1CF      float64
A2BP1     float64
dtype: object
是否有缺失值： 0

In [6]:
print("前5个样本名：", df.index[:5])
print("前5个基因名：", df.columns[:5])

前5个样本名： Index(['GSM1823702', 'GSM1823703', 'GSM1823704', 'GSM1823705', 'GSM1823706'], dtype='object')
前5个基因名： Index(['Class', '3xSLv1', 'A1BG', 'A1CF', 'A2BP1'], dtype='object')

In [7]:
row_names = df.index.tolist()
print(row_names[:10])

['GSM1823702', 'GSM1823703', 'GSM1823704', 'GSM1823705', 'GSM1823706', 'GSM1823707', 'GSM1823708', 'GSM1823709', 'GSM1823710', 'GSM1823711']

In [9]:
# 检查 Class 列
print(df["Class"].value_counts())
print(df["Class"].head(10))

Class
"normal"    148
"tumor"     148
Name: count, dtype: int64
GSM1823702    "normal"
GSM1823703    "normal"
GSM1823704    "normal"
GSM1823705    "normal"
GSM1823706    "normal"
GSM1823707    "normal"
GSM1823708    "normal"
GSM1823709    "normal"
GSM1823710    "normal"
GSM1823711    "normal"
Name: Class, dtype: object

In [10]:
print("Class 列缺失值数：", df["Class"].isna().sum())

Class 列缺失值数： 0